google-cloud-storage>=2.14
google-cloud-monitoring
google-cloud-run
google-api-python-client
google-cloud-redis
google-cloud-artifact-registry
google-cloud-compute
google-cloud-dialogflow-cx
google-cloud-pubsub
google-cloud-bigquery
google-cloud-container
google-cloud-secret-manager
google-cloud-functions
google-cloud-appengine-logging
google-cloud-logging
google-cloud-scheduler
google-cloud-kms
google-cloud-orchestration-airflow
google-cloud-aiplatform
google-cloud-resource-manager
google-cloud-firestore
google-cloud-spanner
google-cloud-alloydb
google-cloud-dns
google-cloud-tasks
google-cloud-eventarc
google-cloud-build
google-cloud-dataflow-client
google-cloud-dataproc
google-cloud-binary-authorization
google-cloud-datacatalog
openpyxl
fpdf2
reportlab>=4.0
